/* h2 {
  color: blue;
}
p {
  color: darkgoldenrod;
}
h2,
p {
  color: red;
}
#title {
  color: darkmagenta;
  background:darkslategray;
  width:200px;
  padding:20px;
  margin:30px;
}

#hello{
    color:darkred;
} */

/* 
.green{
    background:deeppink;
    width:200px;
    padding:20px;
    margin:20px;
    text-align:center;
    margin:10pxauto;

}
.red{
    background:fuchsia;
    width:200px;
    padding:20px;
    margin:20px;
    text-align:center;
}
div{
    border:1px solid black;
    width:200px;
    color:red;
    padding: 20px;
}
#one{
    color:red;
    background:hotpink;
}

#two{
    color:lawngreen;
    background-color:rgb(29,33,110);
}
h3{
    background-color:grey;
    width:200px;
    height:100px;
    font-size:45px;
} */

body{
    text-align:center;
}

.outer{
    width:400px;
    height:400px;
    background: brown;
}
.inner{
    width:50%;
    height:50%;
    background: chartreuse;
    float:right
}
.secondinner{
    width:50%;
    height: 50%;
    background: seagreen;
    float:inline-end;
}
.shadik{
   width:50vw;
   height: 50vh;
   background: greenyellow;
}
.amitaz{
    width: 50%;
    height: 50%;
    background: hotpink;
}
*{
    font-family: Helvatica;
}
#good{
    font-family: 'Courier New', Courier, monospace;
    font-style:oblique;
    font-weight: bold;
    text-align:center;
    text-indent: 100px;
}

#joker{
    background: red;
    border:3px solid black;
    width:200px;
    height: 200px;
    padding:20px;
    border-radius:20px;

}
#joke{
    background:chartreuse;
    padding:10px 20px 30px;
    border-radius:80%;
    margin-top:-100px;
}

#love{
    outline:2px solid green;
    width:200px;
    padding:30px;
    margin:20px;
    outline-offset: -10px;
    background: chartreuse;
}
.block{
    color:white;
    background:crimson;
    width:200px;
    margin:20px auto;
    
}
.inline{
    color:white;
    background:darkblue;
}

